/* OHIFCornerstoneViewport.css */
.viewport-and-scrollbar-container {
  display: flex;
  height: 100%;
  align-items: stretch; /* Ensures the scrollbar aligns with the height of the viewport */
}

.viewport-wrapper {
  flex-grow: 1; /* Ensures the viewport takes up the remaining space */
  position: relative; /* For positioning of overlay elements */
}

